.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-container {
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform;
  transition: transform, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform;
}

@media (max-width: 767px) {
  .menu-container {
    width: 100%;
    z-index: 1;
    display: none;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    margin: 0 auto;
    height: 100vh;
    padding: 48px 40px;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.logo {
  color: #2196f3;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  letter-spacing: 0.03em;
  line-height: 1.19;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
}

@media (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.logo-span {
  color: #212121;
}

@media (max-width: 767px) {
  .header-nav {
    margin-bottom: 200px;
  }
}

@media (min-width: 768px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 60px;
  }
}

@media (min-width: 1200px) {
  .header-nav {
    margin-right: 305px;
  }
}

@media (min-width: 768px) {
  .header-list__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  .header-list__li:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media (min-width: 768px) {
  .header-list__li:not(:last-child) {
    margin-right: 50px;
  }
}

.header-list__item {
  font-weight: 500;
  position: relative;
  color: #212121;
  display: block;
  -webkit-transition: background-color, fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color, fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__item:hover {
  color: #2196f3;
  background-color: #ffffff;
}

.header-list__item:focus {
  background-color: #ffffff;
  color: #2196f3;
}

@media (max-width: 767px) {
  .header-list__item {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .header-list__item {
    padding: 32px 0;
  }
}

.current {
  color: #2196f3;
}

@media (min-width: 768px) {
  .current::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #2196f3;
    border-radius: 2px;
    -webkit-transition: background-color, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media (min-width: 768px) {
  .header-contacts {
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 767px) {
  .header-contacts__li:first-child {
    margin-bottom: 32px;
  }
}

@media (min-width: 1200px) {
  .header-contacts__li:first-child {
    margin-right: 30px;
  }
}

@media (max-width: 1199px) {
  .first {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .first {
    padding-bottom: 19px 0;
  }
}

.header-contacts__item {
  font-weight: 500;
  color: #757575;
  -webkit-transition: background-color, fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color, fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__item:hover {
  color: #2196f3;
  background-color: #ffffff;
}

.header-contacts__item:focus {
  background-color: #ffffff;
  color: #2196f3;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 767px) {
  .header-contacts__item {
    font-size: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .second {
    padding-bottom: 17px;
    padding-top: 5px;
  }
}

.header-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .header-soc {
    display: none;
  }
}

@media (max-width: 480px) {
  .header-soc {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.header-soc__li {
  padding: 0 10px;
}

.header-soc__li:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header-soc__li:first-child {
  padding-left: 0;
}

.header-soc__li:last-child {
  padding-right: 0;
}

@media (max-width: 480px) {
  .header-soc__li {
    margin-bottom: 10px;
    padding: 0 10px;
  }
}

.header-soc__item {
  font-size: 18px;
  font-weight: 500;
  color: #2196f3;
}

@media (max-width: 767px) {
  .chosen {
    font-size: 34px;
    color: #2196f3;
  }
}

@media (min-width: 768px) {
  .chosen {
    padding-bottom: 5px;
    padding-top: 17px;
  }
}

@media (max-width: 480px) {
  .chosen {
    font-size: 8vw;
  }
}

@media (max-width: 767px) {
  .last {
    margin-bottom: 64px;
  }
}

.mail-icon {
  fill: currentColor;
}

@media (max-width: 767px) {
  .mail-icon {
    display: none;
  }
}

/*---------------menu---------------*/
.header-menu__button {
  position: absolute;
  top: 21px;
  right: 15px;
  background-color: #ffffff;
}

.menu-button {
  z-index: 10;
  margin: 0;
  padding: 10px 0;
  background-color: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:focus {
  fill: #2196f3;
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.btn {
  background-color: #2196f3;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 29px;
  border-radius: 4px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hero {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/bg-main.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/bg-main.jpg);
  background-repeat: no-repeat;
}

@media (min-width: 1200px) {
  .hero {
    height: 600px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .hero {
    max-width: 768px;
    height: 400px;
    background-image: url("../../images/tablet-main__bg.jpg");
  }
}

@media (max-width: 767px) {
  .hero {
    max-width: 480px;
    background-image: url("../../images/phone-main__bg.jpg");
  }
}

.hero__title {
  color: #ffffff;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
  }
}

.hero__button {
  display: block;
  margin: 0 auto;
}

.section-hero {
  padding: 118px 0;
}

@media (min-width: 1200px) {
  .section-hero {
    padding: 200px 0;
  }
}

.btn {
  background-color: #2196f3;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
}

.benefits-benefits {
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .benefits-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .benefits-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .benefits-list__li {
    width: 354px;
  }
  .benefits-list__li:nth-child(odd) {
    margin-right: 30px;
  }
  .benefits-list__li:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .benefits-list__li {
    width: 270px;
    height: 251px;
    margin-bottom: 0;
  }
  .benefits-list__li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 768px) {
  .benefits-list__li {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .benefits-list__li:not(:last-child) {
    margin-bottom: 30px;
  }
}

.benefits-list__div {
  background-color: #f5f4fa;
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .benefits-list__div {
    width: 354px;
  }
}

@media (min-width: 1200px) {
  .benefits-list__div {
    width: 270px;
  }
}

.benefits-list__title {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .benefits-list__title {
    text-align: center;
  }
}

.benefits-list__text {
  color: #757575;
  line-height: 1.71;
}

.devices-section {
  padding-bottom: 94px;
}

@media (max-width: 1199px) {
  .devices-section {
    display: none;
  }
}

.devices-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.16;
}

@media (min-width: 768px) {
  .devices-title {
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .devices-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .devices-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.devices-list__photo:not(:last-child) {
  margin-right: 30px;
}

.devices-list__device-thumb {
  position: relative;
}

.devices-list__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team-title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  line-height: 1.16;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .team-title {
    margin-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .team-title {
    font-size: 36px;
  }
}

.team-list {
  text-align: center;
}

.team-list > .worker {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media (max-width: 1199px) {
  .worker:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .worker:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 768px) {
  .worker {
    width: 354px;
  }
  .worker:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .worker {
    width: 270px;
    margin-bottom: 0;
  }
}

.team-list__div {
  padding-top: 30px;
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.team-list__position {
  font-size: 16px;
  color: #757575;
  line-height: 1.18;
  margin-bottom: 16px;
}

.team-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.team-soc__li:not(:last-child) {
  margin-right: 10px;
}

.team-soc__team {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: #ffffff;
  fill: #afb1b8;
  -webkit-transition: background-color, fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color, fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc__team:hover {
  background-color: #2196f3;
  fill: #ffffff;
}

.team-soc__team:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.clients-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .clients-list {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .clients-list {
    -ms-flex-preferred-size: 33.3333%;
        flex-basis: 33.3333%;
  }
}

.clients-list__li {
  margin-right: 30px;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .clients-list__li:nth-child(even) {
    margin-right: 0;
  }
  .clients-list__li:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .clients-list__li:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  .clients-list__li:nth-child(3n + 3) {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .clients-list__li:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .clients-list__li:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }
}

@media (max-width: 479px) {
  .clients-list__li {
    margin-right: 0;
  }
  .clients-list__li:nth-child(5) {
    margin-bottom: 30px;
  }
}

.clients-list__li:focus, .clients-list__li :hover {
  background-color: #ffffff;
  fill: #2196f3;
  border: 1px solid #2196f3;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.clients-list__btn {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 210px;
  height: 92px;
  background-color: #ffffff;
  fill: #afb1b8;
  -webkit-transition: border, fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border, fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__btn:focus, .clients-list__btn :hover {
  background-color: #ffffff;
  fill: #2196f3;
  border: 1px solid #2196f3;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 768px) {
  .clients-list__btn {
    width: 226px;
  }
}

@media (min-width: 1200px) {
  .clients-list__btn {
    width: 170px;
  }
}

.clients-list__svg:hover {
  border: none;
}

.footer {
  background-color: #2f303a;
}

@media (min-width: 768px) {
  .footer {
    padding: 60px 0;
  }
}

.container-footer {
  margin: 0 auto;
  padding: 0px 15px;
}

@media (max-width: 1199px) {
  .container-footer {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .container-footer {
    padding: 60px 15px;
  }
}

@media (min-width: 768px) {
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 768px;
  }
}

@media (min-width: 1200px) {
  .container-footer {
    max-width: 1200px;
  }
}

.footer-block {
  margin-bottom: 60px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-block {
    margin-right: 165px;
    margin-left: 76px;
  }
}

@media (min-width: 1200px) {
  .footer-block {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.footer-block__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  line-height: 1.19;
  margin-bottom: 20px;
}

.footer-block__title:focus {
  background-color: #2f303a;
}

@media (min-width: 1200px) {
  .footer-block__title {
    font-size: 26px;
  }
}

.footer-block__span {
  color: #2196f3;
}

.footer-block__address {
  font-style: normal;
  color: #ffffff;
  line-height: 1.71;
  margin-bottom: 8px;
  margin-top: 20px;
}

@media (min-width: 1200px) {
  .footer-block__address {
    margin-top: 25px;
  }
}

.footer-block__email {
  margin-bottom: 8px;
}

.footer-block__email,
.footer-block__tel {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  display: block;
  -webkit-transition: background-color, color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color, color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-block__email:hover,
.footer-block__tel:hover {
  color: #2196f3;
  background-color: #2f303a;
}

.footer-block__email:focus,
.footer-block__tel:focus {
  color: #2196f3;
  background-color: #2f303a;
}

@media (min-width: 768px) {
  .footer-block__email,
  .footer-block__tel {
    margin-top: 8px;
  }
}

@media (min-width: 1200px) {
  .footer-block__email,
  .footer-block__tel {
    margin-top: 15px;
  }
}

/*---block2---*/
@media (max-width: 1199px) {
  .footer-block2 {
    margin-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .footer-block2 {
    margin-right: auto;
  }
}

.footer-block2__text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

.block2-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block2-list__li:not(:last-child) {
  margin-right: 10px;
}

.block2-list__soc {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color, color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color, color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.block2-list__soc:hover {
  background-color: #2196f3;
}

.block2-list__soc:focus {
  background-color: #2196f3;
}

.block2-list__svg {
  fill: #ffffff;
}

/*---block3---*/
@media (min-width: 768px) and (max-width: 1199px) {
  .footer-block3 {
    margin: 0 auto;
  }
}

.footer-block3__text {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-block3__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1200px) {
  .footer-block3__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-block3__form input {
  padding: 15px 0px 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 1199px) {
  .footer-block3__form input {
    margin-bottom: 20px;
  }
}

.footer-block3__input {
  display: block;
  width: 100%;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
}

.footer-block3__input:focus {
  background: #2f303a;
}

@media (min-width: 480px) {
  .footer-block3__input {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .footer-block3__input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-btn {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 200px;
}

.footer-block3__btnicon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform;
  transition: transform, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  border-radius: 4px;
  padding: 40px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__button {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 8px;
  right: 8px;
}

.modal__button:focus {
  fill: #2196f3;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal-container__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form__name {
  display: block;
  color: #757575;
  position: relative;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  -webkit-transition: outline, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  color: #212121;
  padding-left: 42px;
  -webkit-transition: outline, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  background-color: #ffffff;
  outline: 1px solid #2196f3;
  border: none;
}

.modal-form__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus ~ .modal-form__icon {
  fill: #2196f3;
}

.last-field {
  margin-bottom: 20px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.modal-form__textarea {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  height: 120px;
  color: #212121;
  -webkit-transition: background-color, outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color, outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea:focus {
  background-color: #ffffff;
  outline: 1px solid #2196f3;
  border: none;
}

@media (min-width: 1200px) {
  .modal-form__textarea {
    width: 448px;
  }
}

.agree {
  display: inline-block;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media (max-width: 1199px) {
  .agree {
    font-size: 12px;
  }
}

.agree__checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.agree__checkbox-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  position: relative;
  top: 2px;
  margin-right: 5px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .agree__checkbox-icon {
    margin-right: 8px;
  }
}

.agree__checkbox:checked + .agree__checkbox-icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url("../images/agree.svg");
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.agree__checkbox:focus + .agree__checkbox-icon {
  border-color: #2196f3;
}

.agree__span {
  color: #2196f3;
  text-decoration: underline;
}

.agree__span:focus {
  background: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal-btn {
  display: block;
  margin: 0 auto;
  background-color: #2196f3;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 55px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.filter {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__li {
  margin-left: 8px;
}

.filter__li:first-child {
  margin-left: 0;
}

.filter__li:nth-child(-n + 3) {
  margin-bottom: 15px;
}

.filter__item {
  padding: 6px 22px;
  -webkit-transition: background-color, color, 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow;
  transition: background-color, color, 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow;
  transition: background-color, color, box-shadow, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color, color, box-shadow, 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow;
}

.filter__li,
.filter__item {
  font-size: 16px;
  line-height: 1.7;
  font-weight: 500;
  background-color: #f5f4fa;
  display: inline-block;
  border-radius: 4px;
  -webkit-transition: background-color, color, 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow;
  transition: background-color, color, 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow;
  transition: background-color, color, box-shadow, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color, color, box-shadow, 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow;
}

.filter__li:hover,
.filter__li :focus,
.filter__item:hover,
.filter__item :focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.active {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media (min-width: 768px) {
  .shop-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
  }
}

.shop-list__li {
  margin-bottom: 30px;
  color: #eeeeee;
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.shop-list__li:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.shop-list__li:focus {
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .shop-list__li {
    margin-left: 30px;
    margin-top: 30px;
    width: 354px;
    height: 440px;
  }
  .shop-list__li:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .shop-list__li {
    width: calc((100% - 90px) / 3);
    width: 370px;
    height: 404px;
  }
}

.shop-list__item {
  display: block;
}

.shop-list__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.shop-thumb {
  position: relative;
  overflow: hidden;
}

.shop-thumb__hover {
  margin: 0;
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.shop-list__item:hover .shop-thumb__hover {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.shop-list__item:focus .shop-thumb__hover {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.shop-thumb__img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.item-div {
  padding: 20px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.item-div__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  color: #212121;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.item-div__text {
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
  line-height: 1.87;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.color {
  background-color: #f5f4fa;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}

@media (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
/*# sourceMappingURL=main.css.map */