@import "utils/variables";
@import "components/header";
@import "components/nullstyle";
@import "components/recuring";
@import "components/hero";
@import "components/benefits";
@import "components/devices";
@import "components/team";
@import "components/clients";
@import "components/footer";
@import "components/backdrop";
@import "components/filter";
@import "components/shop";

body {
	font-family: $mainFont;
	color: $mainColor;
	font-size: 14px;
	letter-spacing: 0.03em;
}

.color {
	background-color: $secondaryLightColor;
}

.container {
	padding: 0 15px;
	margin: 0 auto;
	@media (min-width: 480px){
		width: 480px;
	}
	@media (min-width: 768px){
		width: 768px;
	}
	@media (min-width: 1200px){
		max-width: 1200px;
	}
}


.section {
	padding: 60px 0;
	@media (min-width: 1200px){
		padding: 94px 0;
	}
}
