.header {
	border-bottom: 1px solid $borderColor;
	position: relative;
}

.header-container{
	display: flex;
}

.logo {
	color: $accentColor;
	font-weight: 700;
	font-family: $secondaryFont;
	font-size: 24px;
	letter-spacing: 0.03em;
	line-height: 1.19;
	margin-right: auto;
	display: flex;
	align-items: center;
	padding: 24px 0;

	@media(min-width: 768px){
		margin-right: 88px;
	}

	@media(min-width: 1200px){
		margin-right: 93px;
	}
}

.logo-span {
	color: $mainColor;
}

.header-nav{
	@media(max-width: 767px){
		flex-grow: 1;
	}

	@media(min-width: 768px){
		display: flex;
		align-items: center;
		margin-right: 60px;
	}

	@media(min-width: 1200px){
		margin-right: 305px;
	}
}

.header-list__nav{
	@media(min-width: 768px){
		display: flex;
	}
}

.header-list__li{
	@media (max-width: 767px){
		&:not(:last-child){
			margin-bottom: 32px;
		}
	}

	@media(min-width: 768px){
		&:not(:last-child){
			margin-right: 50px;
		}
	}
}

.header-list__item {
	font-weight: 500;
	position: relative;
	color: $mainColor;
	display: block;
	transition: background-color, fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover {
		color: $accentColor;
		background-color: $mainLightColor;
	}
	&:focus {
		background-color: $mainLightColor;
		color: $accentColor;
		
	}
	@media (max-width: 767px){
		font-size: 40px;
	}
	@media(min-width: 768px){
		padding: 32px 0;
	}
}

.current {
	color: $accentColor;
	@media (min-width: 768px){
		&::after {
			content: "";
			position: absolute;
			bottom: 0px;
			left: 0;
			height: 4px;
			width: 100%;
			background-color: $accentColor;
			border-radius: 2px;
			transition: background-color, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
	}
}

.header-contacts {
	@media (min-width: 768px){
		margin-left: auto;
		margin-top: 0;
		margin-bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@media (min-width: 1200px){
		display: flex;
		align-items: center;
		flex-direction: row;
	}
}

.header-contacts__li {
	@media (max-width: 767px){
		&:first-child {
			margin-bottom: 32px;
		}
	}
	@media (min-width: 1200px){
		&:first-child {
			margin-right: 30px;
		}
	}
}

.header-contacts__item {
	font-weight: 500;
	color: $secondaryTextColor;
	transition: background-color, fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover {
		color: $accentColor;
		background-color: $mainLightColor;
	}
	&:focus {
		background-color: $mainLightColor;
		color: $accentColor;
		box-shadow: none;
	}
	@media (max-width: 767px){
		font-size: 24px;
	}
}

.first{
	@media (max-width: 1199px){
		margin-bottom: 10px;
	}
}

.chosen{
	@media(min-width: 1200px){
		padding: 32px 0;
	}
	@media(min-width: 768px) and (max-width: 1199px){
		padding-top: 20px;
	}
	@media (max-width: 767px){
		font-size: 34px;
		color: $accentColor;
	}
	@media(max-width: 480px){
		font-size: 8vw;
	}
}

.last{
	@media (max-width: 767px){
		margin-bottom: 64px;
	}
}

.second{
	@media(min-width: 1200px){
		padding: 30px 0;
	}
	@media(min-width: 768px) and (max-width: 1199px){
		padding-bottom: 20px;
	}
}

.header-soc{
	display: flex;

	@media(min-width: 768px){
		display: none;
	}
	@media(max-width: 480px){
		flex-wrap: wrap;
	}
}

.header-soc__li{
	padding: 0 10px;
	&:not(:last-child){
		border-right: 1px solid rgba(33,33,33,0.2);
	}
	&:first-child{
		padding-left: 0;
	}
	&:last-child{
		padding-right: 0;
	}
	@media(max-width: 480px){
		margin-bottom: 10px;
		padding: 0 10px;
	}
}

.header-soc__item{
	font-size: 18px;
	font-weight: 500;
	color: $accentColor;
}

.mail-icon {
	fill: currentColor;
	@media (max-width: 767px){
		display: none;
	}
}

/*---------------menu---------------*/

.menu-container{
	@media(max-width: 767px){
		position: fixed;
		left: 0;
		margin: 0 auto;
		z-index: 5;
		width: 100%;
		height: 100vh;
		opacity: 0;
		background-color: $mainLightColor;
		&.is-open{
			display: flex;
			flex-direction: column;
			opacity: 1;
		}
	}
	transition: transform, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-mobile{
	@media(max-width: 767px){
		position: relative;
		left: 0;
		margin: 0 auto;
		width: 100%;
		max-width: 480px;
		height: 100vh;
		padding: 48px 40px;
		background-color: $mainLightColor;
		display: flex;
		flex-direction: column;
	}

	@media(min-width: 768px){
		display: flex;
	}
	transition: transform, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu__button{
	position: absolute;
	top: 21px;
	right: 15px;
	background-color: $mainLightColor;
}

.menu-button{
	margin: 0;
	padding: 10px 0;
	background-color: transparent;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:focus{
		fill: $accentColor;
	}

	@media(min-width: 768px){
		display: none;
	}
}

.menu-button .icon-cross{
	display: none;
}

.menu-button.is-open .icon-cross{
	display: block;
}

.menu-button.is-open .icon-menu{
	display: none;
}

.menu-container__button{
	position: absolute;
	top: 10px;
	right: 15px;
	width: 40px;
	height: 40px;
	background: none;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:focus{
		fill: $accentColor;
	}

	@media(min-width: 768px){
		display: none;
	}
}