.hero {
	max-width: 1600px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-main.jpg);
	background-repeat: no-repeat;
	@media(min-width: 1200px){
		height: 600px;
	}
}

.hero__title {
	color: $mainLightColor;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	margin-bottom: 30px;
	@media(min-width: 1200px){
		font-size: 44px;
	}
}

.hero__button {
	display: block;
	margin: 0 auto;
}

.section-hero {
	padding: 118px 0;
	@media (min-width: 1200px){
		padding: 200px 0;
	}
}

.btn {
	background-color: $accentColor;
	color: $mainLightColor;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.87;
	letter-spacing: 0.06em;
	padding: 10px 32px;
	border-radius: 4px;
}
