.btn {
	background-color: $accentColor;
	color: $mainLightColor;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.87;
	letter-spacing: 0.06em;
	padding: 10px 29px;
	border-radius: 4px;
}

.img{
	display: block;
	max-width: 100%;
	height: auto;
}
