$mainLightColor: #ffffff;
$accentColor: #2196f3;
$mainColor: #212121;
$secondaryFont: "Raleway", sans-serif;
$mainFont: "Roboto", sans-serif;
$secondaryTextColor: #757575;
$innactiveIconColor: #afb1b8;
$secondaryLightColor: #f5f4fa;
$cardColor: #eeeeee;
$borderColor: #ececec;
$secondaryBg: #2f303a;